/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Feb 27, 2024, 10:33:57 AM
    Author     : Admin
*/

*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../image/truong-dh-fpt-genz-ao-uoc-duoc-hoc-vi-trai-nghiem-qua-dinh-1-1658310054-910x606.jpeg);
    background-size: cover;
}
.image{
    text-align: center;
}
.image img{
    width: 30%;
    display: inline-block;

}

h1{
    font-style: italic;
}

.output{
    animation: fade 1s ease;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
     background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
/* Form styles */
.forms {
    display: flex;
    flex-direction: column;
}
.form-group {
    margin-bottom: 15px;
}
label {
    color: #13653f;
    font-weight: bold;
}
input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #0056b3;
}