<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>controller.generic.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeTableController</servlet-name>
        <servlet-class>controller.generic.TimeTableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TempTimeTableController</servlet-name>
        <servlet-class>controller.generic.TempTimeTableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WeekTimeTableController</servlet-name>
        <servlet-class>controller.generic.WeekTimeTableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceController</servlet-name>
        <servlet-class>controller.generic.AttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceReportController</servlet-name>
        <servlet-class>controller.student.AttendanceReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectureAttendanceReportController</servlet-name>
        <servlet-class>controller.lecture.LectureAttendanceReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.generic.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectController</servlet-name>
        <servlet-class>controller.generic.SubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GradeReportController</servlet-name>
        <servlet-class>controller.student.GradeReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectureGradeReportController</servlet-name>
        <servlet-class>controller.lecture.LectureGradeReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTimeTableController</servlet-name>
        <servlet-class>controller.admin.AdminTimeTableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAttendanceController</servlet-name>
        <servlet-class>controller.admin.AdminAttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAttendanceReportController</servlet-name>
        <servlet-class>controller.admin.AdminAttendanceReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGradeReportController</servlet-name>
        <servlet-class>controller.admin.AdminGradeReportController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/sign-up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeTableController</servlet-name>
        <url-pattern>/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TempTimeTableController</servlet-name>
        <url-pattern>/temp_timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WeekTimeTableController</servlet-name>
        <url-pattern>/week1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceController</servlet-name>
        <url-pattern>/attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceReportController</servlet-name>
        <url-pattern>/attendance_report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LectureAttendanceReportController</servlet-name>
        <url-pattern>/lecture_attendance_report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectController</servlet-name>
        <url-pattern>/subject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GradeReportController</servlet-name>
        <url-pattern>/grade_report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LectureGradeReportController</servlet-name>
        <url-pattern>/lecture_grade_report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTimeTableController</servlet-name>
        <url-pattern>/admin_timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAttendanceController</servlet-name>
        <url-pattern>/admin_attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAttendanceReportController</servlet-name>
        <url-pattern>/admin_attendance_report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGradeReportController</servlet-name>
        <url-pattern>/admin_grade_report</url-pattern>
    </servlet-mapping>
</web-app>
